.disc {
    display: flex;
    flex-direction: column;
}

.disc-calc {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
}

.acc {
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    background-color: lightgreen;
}

.not-acc {
    
    border: 1px solid grey;
    padding: 10px;
    margin: 10px;
    background-color: red;
    
}