body {
  background-color: #9af3e3;
}

.App {
  text-align: center;
  color: #fffffe;
  font-size: 4.5vw;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.button-cont {
  position: absolute;
  bottom: 20px;
  width: 100%;
  justify-content: center;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 10vw;
}

.input-cont {
  width: auto;
  height: 100%;
}

.input-box {
  justify-content: center;
  align-content: center;
  right: 15px;
  padding: 5px;
  margin: 20px auto;
  background-color: #4fc4b6;
  height: 10vh;
  width: 90%;
}

@media screen and (min-width: 500px) {
  .App {
    font-size: 1.33em;
  }

  h1 {
    font-size: 2.8em;
  }

  .input-box {
    width: 410px;
  }

  /* .button-wrapper {
    width: 500px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 0 25%;
  } */
}
