.StoredInfo {
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin: 20px auto;
    width: 90%;
}

@media screen and (min-width: 500px) {
    .StoredInfo {
        width: 410px;
    }
}